@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef9e1;
  --foreground: #fef9e1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fef9e1;
    --foreground: #fef9e1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
